<div class="fondo" >
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ludoteca</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="juegos">Juegos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="usuarios">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="alquileres">Alquileres</a>
      </li>
    </ul>
  </div>
  <div class="navbar-nav ml-auto">
    <!-- Enlace a la derecha -->
    <a class="nav-link" routerLink="/usuarios/nuevoUsuario">Inscribete Aqui!</a>
  </div>
</nav>
<router-outlet></router-outlet>
</div>